.empty-tile {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: rgb(221, 221, 221);
}
.empty-tile h1 {
  height: fit-content;
}
.invalid-word {
  animation: shake 0.5s;
}
.tiles-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
}
.correct {
  background-color: rgb(105, 163, 105);
}
.almost {
  background-color: rgb(245, 245, 109);
}
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-10px); }
  40% { transform: translateX(10px); }
  60% { transform: translateX(-10px); }
  80% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}
